* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hamburger {
  display: none;
}

.responsive-menu{
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 16em;
  margin: 0;
  background-image: url("../assets/Love-Coding.gif");
  object-fit: cover;
  z-index: 100;
  width: 100%;
}

h1 {
  position: relative;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 5em;
  color: white;
  z-index: 100;
  letter-spacing: 0.2em;
}

nav {
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #1a1a1a;
}

nav a {
  text-decoration: none;
  margin: 0;
  text-align: center;
  color: #1a1a1a;
  padding: 0.8em;
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  flex: 1;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 2.2em;
  margin-top: 8.9em;
  margin-bottom: 1.5em;
  letter-spacing: 0.2em;
}

footer {
  margin-top: 3.5em;
  padding-top: 1.875em;
  padding-bottom: 0.125em;
  text-align: center;
  font-family: 'Abel', sans-serif;
  width: 100%;
  background-image: url("../assets/Love-Coding.gif");
    object-fit: cover;
  z-index: 100;
  color: white;
}

i {
  margin-right: 1em;
  z-index: 100;
  color: white;
}

@media only screen and (min-width: 1200px) {

  header {
    max-width: 100%;
  }

}

@media only screen and (min-width: 900px) {

  header {
    max-width: 100%;
  }

}

@media only screen and (min-width: 600px) {

  header {
    max-width: 100%;
    height: auto;
  }

  h2 {
    margin-top: 10em;
  }

}

@media only screen and (max-width: 599px) {

  header {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 4.5em;
  }

  .menu {
    display: none;
  }

  h2 {
    margin-top: 10em;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 125;
    transition: .2s ease;
  }

  .responsive-menu {
    background-color: white;
    z-index: 100;
    width: 18.75em;
    overflow: hidden;
    transition: all .25s;
  }

  .expand {
    max-height: 18.75em;
    display: block !important;
  }

  .btn-none {
    display: none;
  }

}


