* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 10em;
}

h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 3em;
  color: white;
}

nav {
  background-color: white;
  height: 3em;
  z-index: 50;
}

nav a {
  text-decoration: none;
  display: inline-block;
  float: left;
  margin: 0em 3em 0em 9.5em;
  text-align: center;
  color: black;
  padding: 0.8em;
}

nav a:hover {
  text-decoration: underline;
}

#me {
  height: 20em;
  border-radius: 10%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 8em 8em 0em 8em;
}

.flex {
  flex: 1;
  display: flex;
}

.col-1 {
  order: 1;
  flex: 1;
  # margin-right: 5em;
}

.col-2 {
  order: 2;
  flex: 3;
  margin-left: 2em;
}

