
h2 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 2.2em;
  margin-top: 8.9em;
  margin-bottom: 2em;
  letter-spacing: 0.2em;
}

.image-sizing {
  width: 15em;
  height: 10em;
}

.image-size {
  max-width: 100%;
  height: 35em;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0em 7.5em 2em 5em;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#column-1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#column-2 {
  margin: 0 auto;
  margin-top: 5em;
  display: flex;
/*  justify-content: center;
*/  flex-direction: row;
}

.button {
  text-transform: capitalize;
  padding: 0.6em 1.3em;
  text-align: center;
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  font-size: 0.7em;
  transition: all 1s;
  -webkit-transition: all 1s;
  font-family: 'Abel', sans-serif;
  margin: 2em 3em 3em 5.7em;
}

button a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.button:hover {
  background-color: #fff;
}

button a:hover {
  color: #1a1a1a;
}

.slider {
  overflow: hidden;
}

.slider li {
  display: none;
}

@media only screen and (max-width: 599px) {

  #wrapper {
    margin: 0;
  }

  .image-size {
    height: 20em;
  }

  h2 {
    margin-bottom: 1em;
  }

  #column-2 {
    flex-direction: column;
  }

  .button {
    padding: 0.3em 0.75em;
    font-size: 0.4em;
    margin: 1em 1em 1em 1em;
  }

  button a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.02em;
  }

}

@media only screen and (max-width: 800px) {

  #wrapper {
    margin: 0;
  }

  .image-size {
    height: 20em;
  }

  h2 {
    margin-bottom: 1em;
  }

  .image-sizing {
  width: 9em;
  height: 7em;
}

  #column-2 {

    margin-top: 3em
  }

  .button {
    padding: 0.8em 1.2em;
    font-size: 0.5em;
    margin: 2em;
  }


}

