<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contact Garima</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/ico" href="../assets/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush:400,600,700|Damion:400,600,700|Great+Vibes:400,600,700|Kaushan+Script:400,600,700|Niconne:400,600,700|Tangerine:400,600,700|Lato:400,600,700|Raleway:400,600,700|Abel:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/contact.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/app.js" type="text/javascript"></script>
</head>
<body>

    <header>
    <h1>Garima Jain</h1>
    <nav>
      <a href="index.html">About</a>
      <a href="#">Portfolio</a>
      <a href="#">Code Laboratory</a>
      <a href="#testimonial">Testimonials</a>
      <a id="contact" href="#">Contact</a>
    </nav>
  </header>

  <main id="form-holder">
    <h2 class="contact-header"><a name="contact">get in touch</a></h2>
      <form id="get-in-touch">
        <fieldset>
          <input id="contact-full-name" type="text" name="full name" required placeholder="FULL NAME">
          <span class="error-hide">Please enter your name</span>
        </fieldset>

        <fieldset>
          <input id="contact-email" type="email" name="email" required placeholder="EMAIL">
          <span class="error-hide">Please enter an email address</span>
        </fieldset>

        <fieldset>
          <input id="contact-subject" type="text" name="subject" required placeholder="SUBJECT">
          <span class="error-hide">Please enter a subject</span>
        </fieldset>

        <fieldset>
          <input id="contact-message" type="textarea" name="message" required placeholder="MESSAGE">
          <span class="error-hide">Please enter a message</span>
        </fieldset>

        <fieldset>
          <button type="submit" id="button-submit">SUBMIT</button>
        </fieldset>
      </form>
      <h2 id="thank-you" class="error-hide">Thank You</h2>
    </main>

    <footer>
    <section class="footer-style">
      <a href="https://twitter.com/garimaj2108"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/spotthebug"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/garima-jain1/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    </section>

    <section id="signed-by">
      <p class="items aligning">&copy 2018 Garima Jain</p>
    </section>
  </footer>



</body>
</html>