<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/ico" href="../assets/favicon.ico">
  <title>Garima Jain</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush:400,600,700|Damion:400,600,700|Great+Vibes:400,600,700|Kaushan+Script:400,600,700|Niconne:400,600,700|Tangerine:400,600,700|Lato:400,600,700|Raleway:400,600,700|Abel:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/app.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <h1>Garima Jain</h1>
    <nav>
      <a href="#about">About</a>
      <a href="#">Portfolio</a>
      <a href="#">Code Laboratory</a>
      <a href="contact.html">Contact</a>
      <a href="#testimonial">Testimonials</a>
    </nav>
  </header>
  <h2>About Me</h2>

  <main id="wrapper">
      <h2><a name="about">About Me</a></h2>
    <section id="about-me" class="flex">
      <img id="me" class="col-1" src="../assets/Me.jpg" alt="Garima Jain">
      <article class="col-2">
        <p>Hi, &nbspI'm Garima!</p>
        <p>Foodie. Explorer. Aspiring Software Developer & World Traveller.</p>
        <p>Graduating soon with a Masters in Information Systems from Santa Clara University.<br><br>
        Also pursuing a full time Web Development Immersive program from General Assembly as part of Adobe Digital Academy.<br><br>
        Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it, and to be surrounded by those who bring out the best in me."</p>
      </article>
    </section>
  </main>

  <div>
    <h2 id="testimonial-styling"><a name="testimonial">Testimonials</a></h2>
    <section id="testimonials">
      <p id="one">I have had the pleasure of working with Garima as part of the project for the Information Systems Analysis and Design course at Santa Clara University. She has strong collaboration and communication skills. In the short time I spent working with her, I was impressed with her enthusiasm and the hard work she put into the various activities we were a part of. This mix of collaborative skills and focus makes Garima a stellar addition to any team/position.<br><br>- Ishrath Ayesha Ajmal</p>

      <p id="two">I am very happy to recommend Garima to prospective employers as I've experienced her dedication and work ethic first hand both as a senior colleague and client! Garima was responsible for the maintenance of service standards for my family's accounts and investments and she was always proactive, quick to respond and always carried a positive attitude! I'm sure she will be an asset to whichever organisation she chooses to work with and I wish her great success in her career! <br><br>- Siddhartha Bhaduri</p>

      <p class="three">positive attitude about learning. She was very perceptive and just the kind of driven, engaging, and curious student that helped make the classroom a more interactive environment. I enjoyed having her in my class, and particularly appreciated her perceptive comments and questions.Through class group projects, Garima demonstrated that she works well with others and has engaging communication skills.I strongly recommend Garima for any position to which she sets her sights, because her aptitude and determination to learn definitely will make her an asset in any environment and to any employer.<br><br>- Elizabeth Powers</p>

    </section>
  </div>

  <footer>
    <section class="footer-style">
      <a href="https://twitter.com/garimaj2108"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/spotthebug"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/garima-jain1/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    </section>

    <section id="signed-by">
      <p class="items aligning">&copy 2018 Garima Jain</p>
    </section>
  </footer>


</body>
</html>