<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/ico" href="../assets/favicon.ico">
  <title>Garima Jain</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush:400,600,700|Damion:400,600,700|Great+Vibes:400,600,700|Kaushan+Script:400,600,700|Niconne:400,600,700|Tangerine:400,600,700|Lato:400,600,700|Raleway:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="../js/app.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <h1>Garima Jain</h1>
    <nav>
      <a href="">About</a>
      <a href="">Portfolio</a>
      <a href="">Code Laboratory</a>
      <a href="">Contact</a>
    </nav>
  </header>
  <video autoplay loop width="100%" height="10%">
      <source src="../assets/Love-Coding.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="../assets/Love-Coding.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="../assets/Love-Coding.ogv" type="video/ogv" />Your browser does not support the video tag.
  </video>
  <div id="wrapper">

    <section id="about-me" class="flex">
      <img id="me" class="col-1" src="../assets/Me.jpg" alt="Garima Jain">
      <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id doloremque quasi cum at nostrum et nemo beatae perferendis enim quas facilis maxime consequuntur harum possimus, quis excepturi ratione delectus, vel?</p>
    </section>

  </div>


</body>
</html>