<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/ico" href="../assets/favicon.ico">
  <title>Garima Jain</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush:400,600,700|Damion:400,600,700|Great+Vibes:400,600,700|Kaushan+Script:400,600,700|Niconne:400,600,700|Tangerine:400,600,700|Lato:400,600,700|Raleway:400,600,700|Abel:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="../js/app.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <h1>Garima Jain</h1>
    <nav>
      <a href="#">About</a>
      <a href="#">Portfolio</a>
      <a href="#">Code Laboratory</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <h2>About Me</h2>

  <div id="wrapper">
      <h2>About Me</h2>

    <section id="about-me" class="flex">
      <img id="me" class="col-1" src="../assets/Me.jpg" alt="Garima Jain">
      <div class="col-2">
        <p>Hi, &nbspI'm Garima!</p>
        <p>I am graduating soon with a Masters in Information Systems from Santa Clara University.<br><br>
        I am also pursuing a full time Web Development Immersive program from General Assembly as part of Adobe Digital Academy.<br><br>
        Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it, and to be surrounded by those who bring out the best in me."</p>
      </div>
    </section>
  </div>

  <footer>
    <section class="footer-style">
      <a href="https://twitter.com/garimaj2108"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    </section>

    <section id="signed-by">
      <p class="items aligning">&copy 2018 Garima Jain</p>
    </section>
  </footer>


</body>
</html>