<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/ico" href="../assets/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush:400,600,700|Damion:400,600,700|Great+Vibes:400,600,700|Kaushan+Script:400,600,700|Niconne:400,600,700|Tangerine:400,600,700|Lato:400,600,700|Raleway:400,600,700|Abel:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <header>
    <h1>Garima Jain</h1>
    <nav>
      <a href="../index.html">About</a>
      <a href="portfolio.html">Portfolio</a>
      <a href="#">Code Laboratory</a>
      <a href="../index.html">Testimonials</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>
  <h2>portfolio</h2>

  <main id="wrapper">
    <section id="portfolios" class="flex">
      <div id="column-1">
        <div id="projectOne">
          <div>
            <img class="image-sizing" src="../assets/monumenthome.png">
            <button class="button"><a href="https://spotthebug.github.io/Monument-Homework/index.html">View Project</a></button>
          </div>
        </div>
        <div id="projectTwo">
          <div>
            <img class="image-sizing" src="../assets/GarimasBoutiqueDress.png">
            <button class="button"><a href="https://spotthebug.github.io/About-Me/">View Project</a></button>
          </div>
        </div>
        <div id="projectThree">
          <div>
            <img class="image-sizing" src="../assets/About-Me-HomePage.png">
            <button class="button"><a href="https://spotthebug.github.io/Garimas-Boutique/">View Project</a></button>
          </div>
        </div>

        <div id="projectFour">
          <div>
            <img class="image-sizing" src="../assets/HarevsTortoise.png">
            <button class="button"><a href="https://spotthebug.github.io/Tortoise-Hare-Racer/">View Project</a></button>
          </div>
        </div>
      </div>

      <div id="column-2">
        <ul class="slider">
          <li>
            <img class="image-size" src="../assets/monumenthome.png">
          </li>
          <li>
            <img class="image-size" src="../assets/GarimasBoutiqueDress.png">
          </li>
          <li>
            <img class="image-size" src="../assets/About-Me-HomePage.png">
          </li>
          <li>
            <img class="image-size" src="../assets/HarevsTortoise.png">
          </li>
        </ul>
      </div>
    </section>
  </main>


  <footer>
    <section class="footer-style">
      <a href="https://twitter.com/garimaj2108"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/spotthebug"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/garima-jain1/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    </section>

    <section id="signed-by">
      <p class="items aligning">&copy 2018 Garima Jain</p>
    </section>
  </footer>



  <script src="../js/app.js" type="text/javascript"></script>

</body>
</html>