<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/ico" href="../assets/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush:400,600,700|Damion:400,600,700|Great+Vibes:400,600,700|Kaushan+Script:400,600,700|Niconne:400,600,700|Tangerine:400,600,700|Lato:400,600,700|Raleway:400,600,700|Abel:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/app.js" type="text/javascript"></script>
</head>
<body>

</body>
</html>